<a href="https://colab.research.google.com/github/Siddharth-2000/python/blob/master/24_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Markdown
##Markdown
###markdown
####markdown

**appole**
*apple*

##insert image
![ Text ](https://cosmos-images2.imgix.net/file/spina/photo/20565/191010_nature.jpg?ixlib=rails-2.1.4&auto=format&ch=Width%2CDPR&fit=max&w=835)

#insert site
[site](https://www.facebook.com/login.php?next=https%3A%2F%2Fwww.facebook.com%2Frecover)

In [0]:
#python

#PYTHON


*   List item
*   List item

In [0]:
print("hello world")

hello world

In [0]:
print("hello , hyderabad")

hello , hyderabad

In [0]:
x =12
y  =13
print(x, y)

12 13

In [0]:
a = b= c = 20
print (a,b,c)

20 20 20

In [0]:
 a ,b,c=1000,20,30
 print(a,b,c
       )

1000 20 30

#DATA TYPES AND COVERSIONS

*   INT
*   FLOAT
STRING
BOOLEAN
COMPLEX

In [0]:
X =10
Y =12.89
Z =3 + 5J
print(type (X))
print(type(Y))
print(type(Z
          ))

<class 'int'>
<class 'float'>
<class 'complex'>

In [0]:
x= 4
y = 10
x < y

True

In [0]:
a = "xyz"
b ="sdf"
print(type(a
          ))
print(type(b))

<class 'str'>
<class 'str'>

In [0]:
i =122222222222
print(type(i)
)

<class 'int'>

In [0]:
i =122222222222
print(type(i)
)
s1 =str(i)
print(type(s1))
f = float (i)
print(type(f))

<class 'int'>
<class 'str'>
<class 'float'>

In [0]:
c =complex(3,5)
print (c
       )

(3+5j)

#reading a value ----input function

In [0]:
s = input ("enter a name")
print(s)

enter a namesiddharth
siddharth

In [0]:
s = input ("enter a name")
print(s)
print(type (s))

enter a nameas
as
<class 'str'>

In [0]:
a =int (input("enter name"))
print (a)
print(type(a))

enter name0123
123
<class 'int'>

#OPERATORS

_OPERATOR IS A SYMBOL IS USED TO PERFORM A  SPECIFIC KIND OF OPERATIONS

#ARITHEMATIC OPERATORS


1.   +
2.   -


-  *
 - /
 - %
 -//
 -**

In [0]:
n =123
print(n + 10)
print(n - 10)
print(n * 10)
print(n / 10)
print(n % 10)
print(n // 10)
print(n ** 10)

133
113
1230
12.3
3
12
792594609605189126649

3 perenthesis and arth operators


*   parenthesis
*   power
*   multiplication
- division
*   addition

#relational operators

>
  <
 <=
 >=
 !=
 ==

In [0]:

x =1 + 2 ** 3 / 4 + 5
print (x)

8.0

In [0]:
x =1+2**3//4*5
print (x)

11

In [0]:
a = 10
a1 = a > 12
print (a1)

False

#logical operators
and 
or

In [0]:
x = 12
y = 33
print (x <= 22 and y <= 22)
print (x <=22 or x>=12)

False
True

#member ship operators
in 
not in

#conditional statements
if _else statemens
###syntax:
####if condition:
> Statements<br>
#####else:
> statements

In [0]:
n =int (input ("emter a  number"))
if n%2==0:
  print("even number")
else:
  print("odd number")

emter a  number44
even number

In [0]:
n =int (input ("emter a  number"))
if n%3==0 and n%5==0:
  print("divisible")
else:
  print("not divisible")

emter a  number45
divisible

In [0]:
n = int (input("enter your number"))
if (n>0):
  print ("positive number")
elif n==0:
  print("number is neutral")
else:
  print ("negetive number")

enter your number0
number is neutral

In [0]:
n = int (input("enter your number"))
if (n%4==0):
  print (" leap year")

else:
  print ("not a leap number`")

enter your number2019
not a leap number

In [0]:
n =  int ()

In [0]:
# find large number from 3 number
n =m