<a href="https://colab.research.google.com/github/Siddharth-2000/python/blob/master/26_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
n = int(input("enter a number"))
i=1
while i<=n:
  print(i,end= " ")
  i =i +1

enter a number12
1 2 3 4 5 6 7 8 9 10 11 12

In [0]:
n = int(input("enter a number"))
sum=0
i=1
while(i<=n):
  if (i%2==0):
    sum=sum+i
  i = i+1
print(sum)

enter a number24
156

In [0]:

n = int(input("enter a number"))
while n!=0:
  r = n %10
  print(r,end =" ")
  n = n//10

enter a number1234
4 3 2 1

#functional programs
-simple
-easy read
-lengthy program divides into sub program

In [0]:
#syntax
def nameofthefunction(<parameters>):
  statements
  return

In [0]:
#input : 1234
#output :6 (4+2)
def addevendigit(n):
  sum =0
  while n!= 0 :
    r = n%10
    if (r %2==0):
      sum = sum+r
    n = n//10
  return sum
addevendigit(1234)

6

In [0]:
#input : 19528
#output :9
def largestdigit(n):
  largest=0
  while n>0 :
    r = n%10
    if (r >largest):
      largest = r
    n = n//10
  return largest
largestdigit(19528)

9

In [0]:
#palindrome
def palindrome(n):
  pal =0
  while(n>0) : 
    r=n %10
    pal =pal *10 + r
    n = n//10
  return pal 
palindrome(23765)

56732

In [0]:
#input :123-----123----yes, 123-----321---no
def ispalindrome(n):
  rev=0
  buffer=0
  while(n>0):
    r=

In [0]:
def natural(n):
  for i in range (1,n+1):
    print(i,end=" ")
natural(10)

1 2 3 4 5 6 7 8 9 10

In [0]:
def natural(n):
  for i in range (1,n+1):
    print(i,end=" ")
natural(24)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24

In [0]:
def reverese(b,1)
for i in range (1,b-1,-1):
  print(i,end=" ")
revereserange(10)

SyntaxError: ignored

#datastructures
-list
-tuple
-dictionary

 #list
 it is one common
 data structure in python ,items are seperated by comma and enclosed by []
 -crud operations
 -c means create
 -r- read
 -u update
 -d-delete
 - list can be changed or immutable
 
 ###example
 -list = [1,2,3,4]

vvvvccvvccvccvc